* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
 /* display:inline-flex; /*se ajusta la ancho de los items*/
  display: flex; /*Se ajusta al espacio disponible, es el más común de usar*/
  flex-direction: row; /*Éste es el valor por default. de izq a der*/
 /* flex-direction: row-reverse; /*der a izq*/
 /* flex-direction: column; /*abajo hacia arriba*/
  /*flex-direction: column-reverse; /*arriba hacia abajo*/
  /*background-color: darkorchid;*/

  justify-content: start; /*. Alinea a la izq*/
  justify-content: end; /*alinea a la der*/
  justify-content: center; /*Alinea al centro*/
  justify-content: space-around; /*Alinea a espacio al rededor de cada elemento*/
  justify-content: space-between; /*Alinea a espacio entre elementos*/
  justify-content: space-evenly; /*Alinea a espacio entre elementos y el contenedor*/

  background-color:purple;
}

.item {
  background-color: crimson;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 32px;
  border: 1px solid black;
}