* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  background-color:purple;
  display: flex; 

}

<<<<<<< HEAD
/*Flex-Shrink -> Esta propiedad funciona como un factor de de contracción, encogimiento, reducción de los elementos del contenedor flex.*/

/*Flex-Shrink recibe factores númericos. 1, 2, 3, 4, 5...*/
.item {
flex-basis: 200px;
flex-grow: 1;
flex-shrink: 1; /*Valor por default*/

=======
  /*Propiedades de FlexBox para los Items

  + Flex-grow -> Ésta propiedad ajusta el fctor de crecimiento de los elementos en función del espacio disponible. 

  El valor por default es "auto". 

  +Esta propiedad recibe valores númericos. El número que coloquemos es el factor de crecimiento. 
 
  */

.item {
  flex-grow: auto; /*Default*/
  flex-grow: 1; /*Va a hacer que todos los items crezcan con el mismo factor */
>>>>>>> 18ab714502451f672eed48fda935c227db557c3c
  background-color: crimson;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
}

<<<<<<< HEAD
.aplastado1 {
  flex-shrink: 1;
  flex-grow: 12;
}

.aplastado2 {
  flex-shrink: 2;
  flex-grow: 9;
}

.aplastado3 {
  flex-shrink: 3;
  flex-grow: 6;
}

.aplastado4 {
  flex-shrink: 4;
  flex-grow: 3;
}
=======
.chicharrón

{
  flex-grow: 5;
}

.salsa

{
  flex-grow: 8;
}

.pinguino {
  flex-grow: 7;
}
>>>>>>> 18ab714502451f672eed48fda935c227db557c3c
