* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  background-color:purple;
  display: flex; 
  flex-direction:row ; /*Valor por default*/
  flex-direction:column /*Cambia dirección el eje principal*/
}

  /*Propiedades de FlexBox para los Items

  + Flex-basis ->  Tamaño del main-size del elemento. Es como un "width" -> Ancho base del elemento

  Cuando Flex-direction tiene el valor row / row reverse -> Flex-basis = ancho
  Cuando Flex-direction: column / colum reverse -> flex-basis = alto

  Flex-basis es relativa al espacio de disponible del contenedor. Si no hay espacio suficiwnte los elementos no crecerán más.

  Si tengo Flex-basis declarado el Width y el height NO funciona, de acuerdo al contexto de direción de eje principal. 
  */

.item {
  flex-basis: 100px;
  height: 500px;
  width: 200px;
  background-color: crimson;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
}

